<!DOCTYPE html>
<html>

<head>
    <title>Create Account - ExpenseTracker+</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>


<body>

<div class="container">

    <div class="logo">
        💰 ExpenseTracker+
    </div>


    <p class="subtitle">
        Create your account
    </p>


    <form method="POST">

        <input 
        type="text"
        name="username"
        placeholder="Enter Username"
        required>


        <input 
        type="password"
        name="password"
        placeholder="Enter Password"
        required>


        <button type="submit">
            Create Account
        </button>

    </form>


    <div class="link">

        Already have an account?

        <a href="/login">
            Login
        </a>

    </div>


</div>


</body>

</html>